.customers {
  position: relative;
  background-color: rgb(101, 119, 201);
  height: 100vh;
  overflow-x: auto;
}

.customers-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

table td,
table th {
  border: none;
  padding: 8px 40px 8px 40px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: rgb(184, 181, 181);
}

table th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}

.customers-container h5 {
  color: white;
  position: absolute;
  top: 50%;
  left: 40%;
}

table button {
  border: none;
  background-color: rgb(135, 177, 19);
  border-radius: 1rem;
  color: white;
}

table button:hover {
  transform: scale(1.1);
}

form label {
  display: block;
  font-weight: bold;
}
input,
select {
  margin-bottom: 1rem;
}

/* Mobile css */

@media screen and (width <= 770px) {
  table td,
  table th {
    border: none;
    padding: 8px 10px 8px 10px;
    text-align: center;
  }
}

@media screen and (width <= 500px) {
  table td,
  table th {
    border: none;
    padding: 8px 1px 8px 1px;
    text-align: center;
  }
}
