.header {
  background-color: inherit;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  list-style-type: none;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.nav-links {
  text-decoration: none;
  color: black;
}

li:hover {
  transform: scale(1.1);
  color: rgb(124, 17, 224);
}

@media screen and (width < 900px) {
  ul {
    flex-direction: column;
  }
}
