.home {
  height: 100vh;
  background: url("../images/banking.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-container h1 {
  position: absolute;
  color: white;
  top: 10%;
  left: 35%;
}

.enter {
  position: absolute;
  top: 60%;
  right: 49%;
  background-color: rgb(255, 0, 149);
  color: white;
  border: none;
  border-radius: 5px;
  width: 2.8rem;
  animation-name: enterAnimate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes enterAnimate {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}
